.idea/
.DS_STORE
./rush2_step3/node_modules
./rush2_step3/.gitignore
./rush2_step3/.next
./rush2_step3/.next-env.d.ts
./rush2_step3/.eslintrc.json
./rush2_step3/public/*
./rush2_step2/output.mytar
./rush2_step1/output.mytar
./rush2_step1/test/*
./rush2_step1/test2/*
rush2_step1/output.mytar
rush2_step1/test/test2.txt
rush2_step1/test2/
rush2_step2/output.mytar